[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"
azure-cognitiveservices-vision-computervision = "*"
pillow = "*"
openai = "*"
python-multipart = "*"

[dev-packages]

[scripts]
dev = "uvicorn src.main:app --reload"
prod = "uvicorn src.main:app"

[requires]
python_version = "3.10"
